# coding: utf-8
from datetime import datetime

from landmark import Landmark

DB_ENGINE = 'sqlite:///db.sqlite'
ENCRYPT_PATH = './libencrypt.so'

AREA_NAME = u'Wrocław'
LANGUAGE = 'EN'  # ISO 639-1 codes EN, DE, FR, and ZH currently supported.
MAP_START = (12.3456, 34.5678)
MAP_END = (13.4567, 35.6789)
GRID = (2, 2)  # row, column
CYCLES_PER_WORKER = 3
SCAN_DELAY = (10, 12)  # will vary between these values (in seconds)
PROXIES = None  # Insert dictionary with 'http' and 'https' keys to enable
ALTITUDE = False  # Generate accurate altitudes where possible
ALT_RANGE = (1450, 1550)  # Generate random altitudes between these points
LONGSPAWNS = False  # Store sightings with invalid times in another DB table

SCAN_RADIUS = 70  # metres

_workers_count = GRID[0] * GRID[1]
COMPUTE_THREADS = int(_workers_count / 10) + 1
NETWORK_THREADS = int(_workers_count / 2) + 1

ALL_ACCOUNTS = [
    ('ash_ketchum', 'pik4chu', 'ptc'),
    ('ziemniak_kalafior', 'ogorek', 'google'),
    ('noideawhattoputhere', 's3cr3t', 'ptc'),
    ('whatever', 'mammoth', 'google'),
]

ACCOUNTS = []
EXTRA_ACCOUNTS = []
for account in ALL_ACCOUNTS:
    if len(ACCOUNTS) < _workers_count:
        ACCOUNTS.append(account)
    else:
        EXTRA_ACCOUNTS.append(account)

DEVICE_INFO = { 'device_brand': 'Apple',
                'device_model': 'iPhone',
                'device_model_boot': 'iPhone8,1',
                'hardware_manufacturer': 'Apple',
                'hardware_model': 'N71AP',
                'firmware_brand': 'iPhone OS',
                'firmware_type': '9.3.4'
              }

TRASH_IDS = [13, 16, 19, 21, 41, 96]
STAGE2 = [94, 139, 141, 149]
NOTIFY_IDS = [141, 142, 143, 144, 145, 146, 148, 149, 150, 151]

REPORT_SINCE = datetime(2016, 7, 29)
GOOGLE_MAPS_KEY = 's3cr3t'

MAP_PROVIDER_URL = '//{s}.tile.osm.org/{z}/{x}/{y}.png'
MAP_PROVIDER_ATTRIBUTION = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'

# As many as can fit will be included as hashtags in your tweets, these will
# be combined with landmark-specific hashtags (if applicable).
HASHTAGS = {AREA_NAME, 'PokemonGO'}
TZ_OFFSET = 0  # hours offset from server time for reported times

LANDMARKS = [
    Landmark('Indian Hills', north=40.279321, west=-111.644326,
             south=40.270809, east=-111.633194,
             center=(40.272910, -111.639777), phrase='in'),
    Landmark('the Provo Temple', north=40.264291, west=-111.642234,
             south=40.262820, east=-111.638420,
             center=(40.263684, -111.639896)),
    Landmark('LaVell Edwards Stadium', north=40.258695, west=-111.655977,
             south=40.255872, east=-111.653050,
             center=(40.257526, -111.654546), hashtags={'GoCougs'})
]

# The following values are fake, replace them with your own keys to enable
# PushBullet notifications and/or tweeting, otherwise leave them out of your
# config or set them to None.
PB_API_KEY = 'o.9187cb7d5b857c97bfcaa8d63eaa8494'
PB_CHANNEL = 0  # set to the integer of your channel, or to None to push privately
TWITTER_CONSUMER_KEY = '53d997264eb7f6452b7bf101d'
TWITTER_CONSUMER_SECRET = '64b9ebf618829a51f8c0535b56cebc808eb3e80d3d18bf9e00'
TWITTER_ACCESS_KEY = '1dfb143d4f29-6b007a5917df2b23d0f6db951c4227cdf768b'
TWITTER_ACCESS_SECRET = 'e743ed1353b6e9a45589f061f7d08374db32229ec4a61'
