# coding: utf-8
from datetime import datetime

DB_ENGINE = 'sqlite:///db.sqlite'
ENCRYPT_PATH = './libencrypt.so'

AREA_NAME = u'Wrocław'
LANGUAGE = 'EN'  # ISO 639-1 codes EN, DE, FR, and ZH currently supported.
MAP_START = (12.3456, 34.5678)
MAP_END = (13.4567, 35.6789)
GRID = (2, 2)  # row, column
DISABLE_WORKERS = []
CYCLES_PER_WORKER = 3
SCAN_DELAY = 10  # seconds
PROXIES = None  # Insert dictionary with 'http' and 'https' keys to enable

SCAN_RADIUS = 70  # metres

ACCOUNTS = [
    ('ash_ketchum', 'pik4chu', 'ptc'),
    ('ziemniak_kalafior', 'ogorek', 'google'),
    ('noideawhattoputhere', 's3cr3t', 'ptc'),
    ('whatever', 'mammoth', 'google'),
]

TRASH_IDS = [13, 16, 19, 21, 41, 96]
STAGE2 = [94, 139, 141, 149]

REPORT_SINCE = datetime(2016, 7, 29)
GOOGLE_MAPS_KEY = 's3cr3t'
MAP_PROVIDER_URL = '//{s}.tile.osm.org/{z}/{x}/{y}.png'
MAP_PROVIDER_ATTRIBUTION = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
