<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monocle - {{ area_name }}</title>
  <link rel="stylesheet" href='static/css/leaflet.css'>
  <link rel="stylesheet" href='static/css/bootstrap.min.css'>
  <link rel="stylesheet" href='static/css/main.css'>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#772c30">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#772c30">
</head>
<body>
  <h1>Monocle is initializing, please wait.</h1>
  <div id="main-map" class="map"></div>
  <a class="map_btn my-location"></a>
  {{ social_links }}
  <script src='static/js/jquery-3.2.1.min.js'></script>
  <script src='static/js/leaflet.js'></script>
  <script>

        var _MapCoords = [{{ map_center[0] }}, {{ map_center[1] }}];
        var _MapProviderUrl = '{{ map_provider_url }}';
        var _MapProviderAttribution = '{{ map_provider_attribution|safe }}';
        _defaultSettings = {};
        _updateTimeInterval = null;
        var _WorkerIconUrl = 'static/monocle-icons/assets/ball.png';

        var WorkerIcon = L.Icon.extend({
            options: {
                iconSize: [20, 20],
                className: 'worker-icon',
                iconUrl: _WorkerIconUrl
            }
        });

        var markers = {};
        var overlays = {
            Workers: L.layerGroup([])
        };


        function WorkerMarker (raw) {
            var icon = new WorkerIcon();
            var marker = L.marker([raw.lat, raw.lon], {icon: icon});
            var circle = L.circle([raw.lat, raw.lon], 70, {weight: 2});
            var group = L.featureGroup([marker, circle])
                .bindPopup('<b>Worker ' + raw.worker_no + '<\/b><br>time: ' + raw.time + '<br>speed: ' + raw.speed + '<br>total seen: ' + raw.total_seen + '<br>visits: ' + raw.visits + '<br>seen here: ' + raw.seen_here);
            return group;
        }

        function addWorkersToMap (data, map) {
            overlays.Workers.clearLayers()
            data.forEach(function (item) {
                marker = WorkerMarker(item);
                marker.addTo(overlays.Workers);
            });
        }

        function getWorkers() {
            new Promise(function (resolve, reject) {
                $.get('/workers_data', function (response) {
                    resolve(response);
                });
            }).then(function (data) {
                addWorkersToMap(data, map);
            });
        }

        var map = L.map('main-map', {preferCanvas: true}).setView(_MapCoords, 13);
        overlays.Workers.addTo(map);
        L.tileLayer(_MapProviderUrl, {
            opacity: 0.75,
            attribution: _MapProviderAttribution
        }).addTo(map);
        map.whenReady(function () {
            $('.my-location').on('click', function () {
                map.locate({ enableHighAccurracy: true, setView: true });
            });

            setInterval(getWorkers, 7000);
        });
  </script>
</body>
</html>
