.map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.map_btn {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    background-size: 24px 24px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    cursor: pointer;
}

.map_btn:hover {
    background-color: #f4f4f4;
}

.map_btn + .map_btn {
    bottom: 70px;
}

 .map_btn + .map_btn + .map_btn {
    bottom: 110px;
}

 .map_btn + .map_btn + .map_btn + .map_btn {
    bottom: 150px;
}

 .map_btn + .map_btn + .map_btn + .map_btn + .map_btn {
    bottom: 190px;
}

 .map_btn + .map_btn + .map_btn + .map_btn + .map_btn + .map_btn {
    bottom: 230px;
}

.fort-icon {
    border-radius: 12px;
    padding: 2px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.leaflet-control-layers-toggle {
    background-image: url('../img/layers.png');
}

.my-location {
    background-image: url('../img/my-location.png');
}

.facebook-icon {
    background-image: url('../img/facebook.png');
}

.twitter-icon {
    background-image: url('../img/twitter.png');
}

.discord-icon {
    background-image: url('../img/discord.png');
}

.telegram-icon {
    background-image: url('../img/telegram.png');
}
#settings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    display: none;
    background: rgba(255, 255, 255, 1);
    opacity: 0;
}

.scroll-up {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    font-size: 38px;
}

@media screen and (min-width: 481px) {
    #settings {
        width: 450px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.55);
        height: 525px;
    }

    .settings-panel>.panel-body{
        height: 348px;
        overflow: auto;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 5px 10px;
        margin-bottom: 0;
    }

    .nav li {
        display:table-cell !important;
        width: 1%;
    }
}
.remaining_text {
    border-radius: 25px;
    background-color: black;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
    font-size: 10px;
    margin: 32px 0 0 0;
    padding: 0;
    color: white;
    width: 100%;
    visibility: hidden;
}

.pokemarker {
    position: absolute;
    left: -16px;
    top: -20px;
    width: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
}

#settings>.page-header{
    padding-bottom: 5px;
    margin: 20px 0 10px;
}

#settings_close_btn{
    font-size: 38px;
}

.settings-panel{
   display: none;
}

.settings-panel.active{
    display: block;
}

.nav-settings{
    margin-bottom: 10px;
}

.my-settings {
    background-image: url('../img/settings.png');
}

.leaflet-control-layers-overlays>label{
    margin-bottom: 0;
    font-weight: initial;
}
